<div class="loginForm">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
        <h2 class="title">Login</h2>
        <div class="inputContainer">
            <input type="username" class="input" formControlName="username" placeholder="Username" required>
            <label for="username" class="label">Username</label>
        </div>

        <div class="inputContainer">
            <input type="password" class="input" formControlName="password" placeholder="Password" required>
            <label for="password" class="label">Password</label>
        </div>

        <button type="submit" class="submitBtn">Submit</button>
        <span>Don't have an account? <a routerLink="/sign-up">Sign up</a></span>
    </form>
</div>