.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    width: auto;
    height: auto;
}

.product-imageURL {
    max-height: 500px;
    max-width: 500px;
    min-width: 500px;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    object-fit: contain;
}

.product-imageURL img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-details {
    flex: 1;
    margin-left: 20px;
}

.product-details h2 {
    margin-top: 0;
}

.product-details p {
    font-size: 16px;
    margin-bottom: 20px;
}

.product-stock {
    font-size: 14px;
    margin-bottom: 20px;
}

.product-stock.out-of-stock {
    color: red;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #222;
}

/* Color Selector */

.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
}

select {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 30px;
    outline: none;
    background: none;
    z-index: 1;
}

.colors {
    color: #3d3d3d;
}

/* reviews */
/* CSS for Reviews Container */
.reviews-container {
    width: 100%;
    height: auto;
}

/* CSS for Title */
.title {
    margin-bottom: 20px;
}

.title h2 {
    font-size: 24px;
    font-weight: bold;
}

/* CSS for Review Container */
.review {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* CSS for Review Rating */
.review-rating {
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}

/* CSS for Review User Profile */
.review-userProfile img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

/* CSS for Review User Name */
.review-userName {
    font-size: 16px;
    font-weight: bold;
}

/* CSS for Review Textarea */
.review-textarea {
    margin-top: 5px;
    font-size: 14px;
}

/* CSS for Remove Review Button */
button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

/* Reviews container */
.reviews-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .delete{
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  /* Title */
  .title {
    margin-bottom: 20px;
    text-align: center;
}

.title h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #444444;
}

/* Review */
.review {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.review-userProfile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review-userName {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #444444;
}

.review-textarea {
    margin-top: 20px;
    font-size: 16px;
    color: #777777;
}

/* Rating */
.rate {
    margin-top: 10px;
    font-size: 24px;
    color: #f8ce0b;
}

.checked {
    color: #f8ce0b;
}

.unchecked {
    color: #dcdcdc;
}

.product-average-rating {
    font-size: 24px;
    margin: 10px 0;
}

.fa {
    display: inline-block;
    padding: 2px;
    color: #ccc;
}

.checked {
    color: gold;
}

.half-star:before {
    content: '\f089';
    position: absolute;
    color: gold;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    width: 50%;
}

.average-rating-number {
    display: inline-block;
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: #333;
}